.dcf-detail{
    margin-bottom: 2%;
    margin-left: 25%;
    margin-top: 1%;
    background-color: #004B82;
    height: 13vh;
    width: 50%;
    border-radius: 4vh;
    padding: 1vh;
    border: rgb(194, 33, 33);
}